[submodule "zsh/modules/dircolors-solarized"]
	path = zsh/modules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/modules/autojump"]
	path = zsh/modules/autojump
	url = git://github.com/joelthelion/autojump.git
